@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        @apply bg-zinc-900;
    }

    body {
        font-family: "Poppins", "sans-serif";
        width: 100%;
        max-width: 1400px;
        color: #ffffff;
        margin: 0 auto;
    }
}